{% extends "products/base.html" %}

{% block content %}
<h3><b>Hay Day</b> – новосибирский магазин различных товаров. Игрушки и еда, продукты известных брендов и собственных марок. Всё от готовых блюд до товаров для дома и игрушек</h3>
<p>Ассортимент подобран так, чтобы вы могли покупать качественные продукты на каждый день по доступным ценам. Каждый из представленных товаров – это выбор экспертов сети.<br></p>
<p>Сохраняйте деньги и время. Заказывайте в HAY DAY!&nbsp;</p>
<p></p>
<h3>Удобная доставка</h3>
<p>Доставляем в день заказа в 1-2 часовые интервалы</p>
<p>Хотите быстрее? С быстрой доставкой соберём и доставим в течение часа</p>
<p>Вежливые и внимательные курьеры доставят ваш заказ на машине и донесут до порога дома</p>
<p></p>
<p><strong>Чем выше стоимость заказа, тем дешевле доставка</strong></p>
<p><strong>Заказы от 850 ₽ доставляем бесплатно</strong></p>
<p></p>
<h3>Где доставляем:</h3>
<p>Новосибирск</p>
<p>Заказывайте в посёлки и на дачи по цене обычной доставки</p>
{% endblock content %}
