{% extends "products/base.html" %}

{% block content %}
<div class="bLNHATGx9"><div><h1>Администрация интернет-магазина HAY DAY!</h1>
    Юридический адрес: Долгопа МФТИ Институтский переулок общага №12 п.1 к.502<br></p>
    <h2>Режим работы</h2>
    <p>в будние дни с 9:00 до 23:00 (время московское)</p>
    <h2>Контактные данные</h2>
    <p style="color: #6F6F6F; margin-top: 40px;">Вопросы можно задать по адресу <a href="" target="_self">Здесь будет адрес</a><br>или по телефону <a href="tel:0000000000" target="_self">00000000000</a> (7 дней в неделю с 08:00 до 24:00 по московскому времени, для звонков по РФ, звонок платный).</p></div></div>
{% endblock content %}