{% extends "products/base.html" %}

{% block content %}
<div class="bLNHATGx9"><div><h1>Условия доставки&nbsp;</h1>
    <h2>Минимальная сумма заказа – 400 ₽&nbsp;</h2>
    <p>При оформлении заказа выберите доставку в течение часа или интервальную. Стандартный интервал доставки заказов — 1 или 2 часа. Быстрая доставка в течение ближайшего часа дороже интервальной на 65 ₽.&nbsp;</p>
    <p>&nbsp;</p>
    <p><strong>Для заказов от 500 до 1975 ₽:</strong></p>
    <p>Цена <strong>интервальной доставки</strong> динамическая. Чем выше сумма заказа, тем ниже цена.</p>
    <p>Стартовая стоимость доставки 150 ₽.</p>
    <p>Например, для заказа на 1000 ₽ цена доставки – 95 ₽.<br></p>
    <p>А для заказа на 1400 ₽ цена доставки – 55 ₽.&nbsp;</p>
    <p>Точную стоимость доставки вы увидите при оформлении заказа.</p>
    <p>Доставка в течение часа: +65 ₽ к стоимости интервальной доставки.&nbsp;</p>
    <p>&nbsp;</p>
    <p><strong>Для заказов от 1975 ₽:</strong></p>
    <p>Интервальная доставка – бесплатно.</p>
    <p>Доставка в течение часа – 65 ₽.&nbsp;</p>
    <p>Возможность доставки на ваш адрес уточняйте на сайте или в приложении.</p></div></div>
{% endblock content %}