{% extends "products/base.html" %}

{% block content %}
<div class="bLNHATGx9"><div><h1>Как купить</h1>
    <p><strong>1. Укажите адрес</strong></p>
    <p>Вы увидите актуальный ассортимент магазина «Hay day», в котором собираются заказы для доставки в вашем районе.</p>
    <p><strong>2. Добавьте товары в корзину</strong></p>
    <p>Знаем, как сложно покупать в интернете, поэтому в карточках товаров честные отзывы и оценки от таких же покупателей, как и вы.</p>
    <p>Обратите внимание на товары со значками «Акция». Отмечаем для вас всё самое интересное и выгодное.</p>
    <p><strong>3. Выберите удобное время доставки и вариант оплаты</strong></p>
    <p>Доставим в 1- или 2-часовые интервалы в течение дня или быстрой доставкой в течение часа.</p>
    <p>Замороженные продукты не растают – у курьеров есть сумки-холодильники.</p>
    <p></p>
    <p></p>
    <p style="color: #6F6F6F; margin-top: 40px;">Вопросы можно задать по адресу <a href="" target="_self">Здесь будет адрес</a><br>или по телефону <a href="tel:0000000000" target="_self">00000000000</a> (7 дней в неделю с 08:00 до 24:00 по московскому времени, для звонков по РФ, звонок платный).</p></div></div>
{% endblock content %}