{% extends "products/base.html" %}

{% block content %}
<div class="bLNHATGx9"><div><h1>Оплата заказов</h1>
    <h2>Способы оплаты</h2>
    <h3>Картой, привязанной к профилю</h3>
    <ul>
    <li>Для тех, кто регулярно заказывает в «Hay day». Не нужно каждый раз вводить данные карты</li>
    <li>Деньги спишем после сборки заказа&nbsp;</li>
    <li>Если нужный вам товар закончился, то позвоним и заменим</li>
    </ul>
    <h3>Картой при получении</h3>
    <ul>
    <li>Удобно и быстро, как в супермаркете. Вам не нужно вводить данные карты</li>
    <li>У курьера с собой терминал</li>
    <li>Если нужный вам товар закончился, то позвоним и заменим<br><br></li>
    </ul>
    <h3>Картой онлайн</h3>
    <ul>
    <li>Удобно, если привыкли оплачивать покупки сразу, а не на пороге дома</li>
    <li>Спишем деньги за заказ до сборки</li>
    <li>Если нужный вам товар закончился, не сможем его заменить и вычеркнем из чека. <br>Разницу в сумме укажем на странице заказа. Обычно деньги возвращаем от часа до 3 рабочих дней (это зависит от банка)</li>
    </ul>
    <p>Оплачивайте покупки картой российского банка. Вы можете рассчитаться картами Visa, MasterCard, MasterCard Maestro и МИР.&nbsp;</p>
    <p></p><details open="Подробнее"><span style="font-size: 12px;">Для ввода реквизитов вашей карты Вы будете перенаправлены на платёжный шлюз ПАО СБЕРБАНК. Соединение с платёжным шлюзом и передача информации осуществляется в защищённом режиме с использованием протокола шифрования SSL. В случае если ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified By Visa, MasterCard SecureCode, MIR Accept, J-Secure для проведения платежа также может потребоваться ввод специального пароля.</span><p></p>
    <p><span style="font-size: 12px;">Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемой персональной информации обеспечивается ПАО СБЕРБАНК. Введённая информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платёжных систем МИР, Visa Int., MasterCard Europe Sprl, JCB.</span>&nbsp;</p></details><p></p>
    <p></p>
    
    <h3>Как привязать карту</h3>
    <p>1. При оформлении заказа выберите оплату онлайн и поставьте галочку «Запомнить карту».</p>
    <p>2. На платежной странице Сбербанка введите реквизиты карты (номер, срок действия, трехзначный код) и полученный код из смс.</p>
    <p>3. При привязке карты снимем 0 рублей. Деньги за заказ спишем после его сборки.<br></p>
    <p><strong>Проверьте баланс карты и запрет на покупки в интернете до привязки новой карты.</strong> Если после сборки заказа не спишутся деньги, вы не сможете получить заказ. В этом случае свяжитесь с поддержкой, они помогут вам.<br></p>
{% endblock content %}